fn compile_invDFT_public{
  cd /path_to_invDFT/
  cd invdft
  SRC = `{pwd}
  mkdir build_release_publicDftfe
  cd build_release_publicDftfe

  dealiiDir=$INST/dealii_real
  dftfeRealDir=/path_to_dftfe/dftfe/build_releaseBranch/release/real
  dftfeIncludeDir=/path_to_dftfe/dftfe/include
  alglibDir=$INST/lib/alglib
  libxcDir=$INST
  spglibDir=$INST
  xmlIncludeDir=/usr/include/libxml2
  xmlLibDir=/usr/lib64

  ELPA_PATH=$INST
  DCCL_PATH=$NCCL_DIR
  TORCH_PATH=''

  #Compiler options and flags
  cxx_compiler = CC
  cxx_flags = '-march=znver3 -fPIC -Wdeprecated-declarations -Wmissing-template-keyword'
  cxx_flagsRelease = '-Wno-deprecated-declarations -Wmissing-template-keyword -fPIC -target-accel=nvidia80 -I'$MPICH_DIR'/include'
  device_flags ='-I'$MPICH_DIR'/include -arch=sm_80'
  device_architectures =80


  # HIGHERQUAD_PSP option compiles with default or higher order
  # quadrature for storing pseudopotential data
  # ON is recommended for MD simulations with hard pseudopotentials

  # build type: "Release" or "Debug"
  build_type=Release
  out=`{echo $build_type | tr '[:upper:]' '[:lower:]'}

  # Note: MDI_PATH is not used by project.
  cmake_flags = ( \
      -DCMAKE_CXX_STANDARD=17 \
      -DCMAKE_CXX_COMPILER=$cxx_compiler \
      -DCMAKE_CXX_FLAGS=$cxx_flags \
      -DCMAKE_CXX_FLAGS_RELEASE=$cxx_flagsRelease \
      -DCMAKE_BUILD_TYPE=$build_type \
      -DDEAL_II_DIR=$dealiiDir \
      -DALGLIB_DIR=$alglibDir \
      -DLIBXC_DIR=$libxcDir \
      -DSPGLIB_DIR=$spglibDir \
      -DXML_LIB_DIR=$xmlLibDir \
      -DXML_INCLUDE_DIR=$xmlIncludeDir \
      -DDFTFE_INSTALL_PATH=$dftfeRealDir \
      -DDFTFE_INCLUDE_PATH=$dftfeIncludeDir \
      -DWITH_MDI=OFF \
      -DMDI_PATH= \
      -DWITH_DCCL=OFF \
      -DWITH_TORCH=OFF \
      -DCMAKE_PREFIX_PATH=$ELPA_PATH';'$DCCL_PATH';'$TORCH_PATH \
      -DWITH_GPU=ON \
      -DGPU_LANG=cuda \
      -DGPU_VENDOR=nvidia \
      -DWITH_GPU_AWARE_MPI=OFF \
      -DCMAKE_CUDA_FLAGS=$device_flags \
      -DCMAKE_CUDA_ARCHITECTURES=$device_architectures \
  )  

  fn cmake_real {
    mkdir -p real && cd real
    cmake $cmake_flags \
      -DWITH_COMPLEX=OFF \
      $1
    make -j8
    cd ..
  }

  mkdir -p $out
  cd $out

  echo 'Building Real executable in $build_type mode...'
  cmake_real $SRC

  echo 'Build complete.'
  cd /path_to_invDFT/
}

